<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <event-block sid="2178192965199114">
            <conditions>
                <condition id="0" name="On clicked" sid="3749689045092031" type="Button" />
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="4541960439999844" type="System">
                    <param id="0" name="Layout">Main Game</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="2292916219680397">
            <conditions>
                <condition id="1" name="Preloads complete" sid="7408311385819615" type="Audio" />
            </conditions>
            <actions>
                <action id="0" name="Play" sid="8195406807561802" type="Audio">
                    <param id="0" name="Audio file">Atari - Leo kimahri</param>
                    <param id="2" name="Loop">1</param>
                    <param id="3" name="Volume">0</param>
                    <param id="1" name="Tag (optional)">&quot;&quot;</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
